* {
    box-sizing: border-box;
  }
    
  .outer {
    position: relative;
    height: auto;
    width: 85%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 
    inset 0 0 10px #fff , 0 0 10px #fff,
    inset 0 0 25px #0ff , 0 0 25px #0ff;
  }
  
  .card-detail-img {
    max-width: 250px;
    color: white;
  }
  
  .card-detail-h1 {
    color: white;
  }
   
  .card-detail-p {
    font-size: 16px;
    line-height: 1.4;
    color: white;
  }
  

  a {
    text-decoration: none;
  }
  
  
  .box-button {
  background: transparent;
  position:relative;
  vertical-align: middle;
  color: white;
  font-size: 13px;
  display: inline-block;
  height: 50px;
  text-align: center;
  transition: 0.5s;
  padding: 0 20px;
  cursor: pointer;
  -webkit-transition:0.5s;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 
  inset 0 0 2px #fff , 0 0 2px #fff,
  inset 0 0 10px #0ff , 0 0 10px #0ff;
  }
  
  .box-button:hover {
    border: 2px solid white;
    border-radius: 20px;
    color: #FFF;
    transform: scale(1.02);
    transition: 0.5s;
    box-shadow: 
  inset 0 0 5px #fff , 0 0 5px #fff,
  inset 0 0 15px magenta, 0 0 15px magenta;
  }

 @media (max-width: 550px)
 {
  .outer {
    width: 98%;
  }
 }

 @media (min-width: 551px) and (max-width: 991px)
 {
  .outer {
    width: 90%;
  }
 }

 @keyframes flicker3 {
    
  0%, 18%, 22%, 25%, 53%, 58%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 40px magenta,
      0 0 80px magenta,
  }
  
  20%, 24%, 55%, 74%{        
      text-shadow: none;
  }    
}

 .free-sheeping {
 /*  color: white;
  height: 14px;
  animation: flicker3 1.5s infinite alternate; 
  font-family: neon;  */
  color: rgb(248, 143, 248);
  height: 14px;
  text-shadow:
      0 0 7px #fff,
      0 0 4px magenta,
      0 0 42px magenta,      
      0 0 102px magenta;
      animation: flicker3 1.5s infinite alternate; 
      font-family: neon; 
}

