* {
    box-sizing: border-box;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%;
    height: 100vh; */
    padding: 0 0 40px 40px;
  }
  
  .outer {
    position: relative;
    background: linear-gradient(to bottom right, cyan, magenta);
    height: 350px;
    width: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 20px;
  }
  
  .card-detail-img {
    position: absolute;
    top: 30px;
    width: 200px;
    right: 10px;
    z-index: 0;
    animation-delay: 0.5s;
    border-radius: 10px;
  }
  
  .card-detail-content {
    animation-delay: 0.3s;
    position: absolute;
    left: 20px;
    z-index: 3;
  }
  
  .card-detail-h1 {
    color: white;
  }
  
  .card-detail-p {
    width: 280px;
    font-size: 13px;
    line-height: 1.4;
    color: white;
    margin: 20px 0;
    
  }
  
  .card-detail-bg {
    display: inline-block;
    color: #fff;
    background: cornflowerblue;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: .7em;
  }
  .card-detail-button {
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    background: transparent;
  }
  
  .card-detail-button button {
    display: inline-block;
    overflow: hidden;
    position: relative;
    font-size: 11px;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid white;
    font-weight: bold;
    background: transparent;  
  }

  .card-detail-buy{
    display: inline-block;
    overflow: hidden;
    position: relative;
    font-size: 11px;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid white;
    font-weight: bold;
    background: transparent; 
    border-radius: 50px 50px 50px 50px;
  }

  .card-detail-buy:hover {  
    color: black;
    transition: all 0.5s ease;
  }
  
    
  .card-detail-button button:hover {  
    color: black;
    transition: all 0.5s ease;
  }
  
  
  .card-detail-button button:nth-of-type(1) {
    border-radius: 50px 0 0 50px;
    border-right: none;
  }
  
  .card-detail-button button:nth-of-type(2) {
    border-radius: 0px 50px 50px 0;
  }


  .card-detail-button button:nth-of-type(3) {
    border-radius: 50px 0 0 50px;
  }
  
  .card-detail-button button:nth-of-type(4) {
    border-right: none;
    border-left: none;
  }

  .card-detail-button button:nth-of-type(5) {
    border-radius: 0px 50px 50px 0;
  }

  
  .card-detail-cart-icon {
    padding-right: 8px;
    
  }
  
  .card-detail-footer {
    position: absolute;
    bottom: 0;
    right: 0;
  }