.card {
  background: transparent !important;
}

.item--card{
    width: 320px !important;
    height: 550px;
    margin: 40px 20px 40px 20px;
    padding: 3px;
    background: transparent !important;
    border: 1px solid #fff !important;
    border-radius: 20px !important;
    color: #fff;
   /*  text-shadow:     
      0 0 5px #0ff,
      0 0 50px #0ff; */      
    box-shadow: 
    inset 0 0 5px #fff , 0 0 5px #fff,
    inset 0 0 20px #0ff , 0 0 20px #0ff;
  }

  
.card-img-top {
    border-radius: 20px !important;
    padding: 5px;
    height: 420px;
  }

  
