.cart-items {
  padding: 10px;
  border: none !important;
}

.cart-item{
  color: white;
}

.cart-item--img{
 width: 50px;
}

.cart-item--remove{
  background: transparent;
  color: white;
}


.box-button--cart {
  background: transparent;
  position:relative;
  vertical-align: middle;
  color: white;
  font-size: 13px;
  display: inline-block;
  height: 50px;
  text-align: center;
  transition: 0.5s;
  padding: 0 20px;
  cursor: pointer;
  -webkit-transition:0.5s;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 
  inset 0 0 5px #fff , 0 0 5px #fff,
  inset 0 0 15px magenta, 0 0 15px magenta;
  }
  
  .box-button--cart:hover {
    border: 2px solid white;
    border-radius: 20px;
    color: #FFF;
    transform: scale(1.02);
    transition: 0.5s;
    box-shadow: 
  inset 0 0 2px #fff , 0 0 2px #fff,
  inset 0 0 10px #0ff , 0 0 10px #0ff;
   
  }