/* FONTS */
@font-face {
    font-family: logo;
    src: url(../font/BUENAN__.ttf);
}

@font-face {
    font-family: neon;
    src: url(../font/clip.regular.ttf);
}

/* END FONTS */

#logo{
font-family: logo;
font-size: 4rem;
}

#logo:hover{
    text-shadow:
        0 0 5px #fff,
        0 0 5px #0ff,
        0 0 30px #0ff;
}


.header a {
    color: white !important;
    font-weight: bold;
}

.header a:hover {
    color: magenta !important; 
}

.header a:hover.active {
    color: magenta !important;
}

.header .dropdown-menu{
    background-color: black;
    width: 50% !important;
}

.header .dropdown-item{
    max-width: fit-content !important;
}


.header .dropdown-menu a {
    color: white !important;
    background-color: transparent;
}

.header .dropdown-menu a:hover {
    color: magenta !important;

}


.header .dropdown-menu a:hover.active {
    color: magenta !important;
}

.header h1 {
    color: white;
}

.navbar-light .navbar-toggler{
    color: white !important;
    border-color: white !important;
    background-color: white !important;
}


.offcanvas, .dropdown, .dropdown-menu{
    background-color: black;
}

.offcanvas a{
    color: magenta;
}

.offcanvas .dropdown a{
    color: magenta;
}

.offcanvas .dropdown a:hover{
    color: white;
    background-color: transparent;
}

.offcanvas a:hover{
    color: white;
}

.offcanvas-header{
    color: white;
}

.offcanvas button{
    color: white;
    background-color: white;
}


/* GREETING ANIMATION */

.greeting{
    height: 100vh;
}
.greeting1 {
    color: #fff;
    height: 30vh;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 10px #0ff,
        0 0 42px #0ff,
        0 0 82px #0ff,
        0 0 92px #0ff,
        0 0 102px #0ff,
        0 0 151px #0ff;
/*         text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff, 0 0 55px #0ff, 0 0 75px #0ff, 2px 2px 2px rgba(64,255,236,0);
 */        font-size:7rem !important;
        animation: flicker1 1.5s infinite alternate; 
        font-family: neon; 
  }

  .greeting2 {
    color: #fff;
    height: 30vh;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px magenta,
        0 0 82px magenta,
        0 0 92px magenta,
        0 0 102px magenta,
        0 0 151px magenta;
        font-size: 7rem !important;
        animation: flicker2 1.5s infinite alternate; 
        font-family: neon; 
  }

/* Flickering animation */
@keyframes flicker1 {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0ff,
        0 0 80px #0ff,
        0 0 90px #0ff,
        0 0 100px #0ff,
        0 0 150px #0ff;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

  @keyframes flicker2 {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px magenta,
        0 0 80px magenta,
        0 0 90px magenta,
        0 0 100px magenta,
        0 0 150px magenta;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

  /* END GREETING ANIMATION */

