@font-face {
  font-family: app;
  src: url(./font/TextMeOne-Regular.ttf);
}

body {
  position: relative !important;
  min-height: 100vh;
  background-image: url("./img/background.jpg");
  background-size: 100vw;
  font-family: app !important;
}

.bg-info{
  background-color: rgb(245, 21, 245) !important;
}

.text-magenta{
  color: rgb(245, 21, 245);
}

.text-cyan{
  color: #0ff !important;
}

.color-magenta{
  color: rgb(245, 21, 245);
}

.loader{
color: #0ff;
}

a {
  text-decoration: none !important;
}

.border-bottom {
  border-bottom: 1px solid white;
}
