header{
    background: linear-gradient(to bottom right, cyan, magenta);
    background-repeat: no-repeat;
  }

a {
    color: black !important;
}

a:hover {
    color: white !important;
}

a:hover.active {
    color: magenta !important;
}

h1 {
    color: white;
}